<br/>
<br/>
<br/>
<br/>
<br/>

<div class="span6 offset2 smurfy text-center">

	<h1 class="custom-h1">
		Hi I'm Proud
	</h1>

	<h2>
		I'm having fun coding!
	</h2>

	<%= link_to 'Launch', '#', :class => 'btn btn-danger btn-large' %> 

</div>